//
// === Directions ===
//

$sides: (
	t : top,
	b : bottom,
	l : left,
	r : right,
	j : justify,
);

$alignments: (
	l : left,
	r : right,
	c : center,
);

//
// === Colors ===
//

$all-colors: (
	white         : #FFF,
	black         : #000,
);



//
// === Breakpoints ===
//

$breakpoints : (
	xs  : 400px,
	sm  : 600px,
	md  : 800px,
	lg  : 1000px,
	xl  : 1200px,
);

//
// === Components ===
//

// Spacer
$spacer-max: 10;
$spacer-size: 10px;

// Inline Grid
$inline-grid-column-size: 12;
$inline-grid-breakpoint: md;
$inline-grid-gutter-mobile: 10px;
$inline-grid-gutter-desktop: 10px;
$inline-grid-gutter-extra: (
	none : 0px,
);

// Grid Container
$grid-padding-mobile: 10px;
$grid-padding-desktop: 20px;
$grid-max-width: 1920px;

// CSS Grid
$grid-column-sizes: (
	xs:  12,
	lg:  12,
);
$grid-gutter-sizes: (
	xs:  10px,
	lg:  10px,
);
$grid-column-max: max(map-values($grid-column-sizes)...);
$grid-gutter-extra: (
	none : 0px,
);

//
// === Typography ===
//

$typography-breakpoint: md;

$font-size-body-mobile: 16px;
$font-size-body-desktop: 16px;

$line-height-body-mobile: 24px;
$line-height-body-desktop: 24px;