.prism-code {
	font-size: 16px;
	padding: 10px;
	border-radius: 4px;
	font-family: $font-family-mono;
	font-variant-ligatures: none;
	overflow-x: auto;
	
	.line-number {
		user-select: none;
		pointer-events: none;
	}

	// Empty line
	.token-line:last-child {
		display: none;
	}

	* {
		@include selection {
			background: rgba(color(black), 0.95);
		}
	}

	&.language-terminal {
		.line-number {
			display: none;
		}
	}
}
