{
	"presets": [
		["@babel/env", {
			"targets": {
				"node": "10.0.0"
			},
			"modules": "commonjs"
		}],
		"@babel/react"
	],
	"plugins": [
		"@babel/plugin-syntax-dynamic-import",
		"@babel/plugin-proposal-object-rest-spread",
		"@babel/plugin-transform-object-assign",
		["@babel/plugin-proposal-class-properties", {
			"loose": true
		}]
	]
}