.fx {
	display: flex;
}

.fx--col {
	flex-direction: column;
}

.fx--row {
	flex-direction: row;
}

// Responsive Directions
@each $breakpoint-name, $breakpoint-size in $breakpoints {
	@media (min-width: #{$breakpoint-size}) {
		.fx--col--#{$breakpoint-name} {
			flex-direction: column;
		}

		.fx--row--#{$breakpoint-name} {
			flex-direction: row;
		}
	}
}

.fx--between {
	justify-content: space-between;
}


.fx--around {
	justify-content: space-around;
}
