@each $grid-column-size-name, $grid-column-size in $grid-column-sizes {
	.gr--#{$grid-column-size-name} {
		display: grid;
		grid-template-columns: repeat($grid-column-size, 1fr);
		column-gap: map-get($grid-gutter-sizes, $grid-column-size-name);
	}
}

@each $breakpoint-name, $breakpoint-size in $breakpoints {
	@media (min-width: #{$breakpoint-size}) {
		@each $grid-column-size-name, $grid-column-size in $grid-column-sizes {
			.gr--#{$grid-column-size-name}--#{$breakpoint-name} {
				display: grid;
				grid-template-columns: repeat($grid-column-size, 1fr);
				column-gap: map-get($grid-gutter-sizes, $grid-column-size-name);
			}
		}
	}
}

// Gutter options
@each $gutter-name, $gutter-size in $grid-gutter-extra {
	.gr.gtr--#{$gutter-name} {
		grid-gap: $gutter-size;
	}
}

// Responsive Gutter
@each $breakpoint-name, $breakpoint-size in $breakpoints {
	@media (min-width: #{$breakpoint-size}) {
		@each $gutter-name, $gutter-size in $grid-gutter-extra {
			.gr.gtr--#{$gutter-name}--#{$breakpoint-name} {
				grid-gap: $gutter-size;
			}
		}
	}
}

// Alignment
.gr.jl {justify-items: start;}
.gr.jc {justify-items: center;}
.gr.jr {justify-items: end;}
.gr.at {align-items: start;}
.gr.am {align-items: center;}
.gr.ab {align-items: end;}

// Column Direction
.gr.rev {
	direction: rtl;
	text-align: left;
	
	> .gc {
		direction: ltr;
		text-align: left;
	}
}

.gr.fwd {
	direction: ltr;
	text-align: left;
	
	> .gc {
		direction: ltr;
		text-align: left;
	}
}

// Column Sizes
@for $i from 0 through $grid-column-max {
	.gcs#{$i} { grid-column-start: $i; }
	.gce#{$i} { grid-column-end: $i; }
	.gcssp#{$i} { grid-column-start:  span $i; }
	.gcesp#{$i} { grid-column-end: span $i; }
}

// Responsive Column Sizes
@each $breakpoint-name, $breakpoint-size in $breakpoints {
	@media (min-width: #{$breakpoint-size}) {
		@for $i from 0 through $grid-column-max {
			.gcs#{$i}--#{$breakpoint-name} { grid-column-start: $i; }
			.gce#{$i}--#{$breakpoint-name} { grid-column-end: $i; }
			.gcssp#{$i}--#{$breakpoint-name} { grid-column-start:  span $i; }
			.gcesp#{$i}--#{$breakpoint-name} { grid-column-end: span $i; }
		}
	}
}