.fw {
	display: block;
	width: 100%;
}

.fh {
	height: 100%;
}

@each $breakpoint-name, $breakpoint-size in $breakpoints {
	@media (min-width: #{$breakpoint-size}) {
		.fw--#{$breakpoint-name} {
			display: block;
			width: 100%;
		}
	}
}

@each $breakpoint-name, $breakpoint-size in $breakpoints {
	@media (min-width: #{$breakpoint-size}) {
		.fh--#{$breakpoint-name} {
			height: 100%;
		}
	}
}

.cw {
	max-width: 100%;
	height: auto;
}